@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');


/* pseudo element*/


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


li, a, button, p, strong {
  font-family: "Google Sans Code", sans-serif;
  text-decoration: none;
  text-decoration-color: #739772;
  font-size: 0.8vw;
}

body {
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #edf2f4;
  padding-top: 7rem;
}

hr {
  color: #0038ab;
  display: block;

}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}

#logo {
  width: 7vh;
  cursor: pointer;
  order: 3;
  margin-left: auto
}

.navBar {
  order: 1;
}

.navBar {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  justify-content: end;
}

.navBar li {
  flex-shrink: 1;
  flex-grow: 0;
  display: inline-block;
  padding: 0px, 20px;
}

.navBar li a {
  transition: all 0.3s ease 0s;
}

.navBar li a:hover {
  color: rgb(30, 185, 113);
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

div.rightP p {
  display: flex;
  justify-self: start;

}

aside div.leftP p {
  display: flex;
  justify-content: flex-start;
}




.typeWriter {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(86, 86, 86, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  display: flex;
  justify-content: end;
  color: #0038ab;
}

.lineEffect {
  animation: typewriter 4s steps(60) 2s 1 normal both,
    blinkTextCursor 1s steps(60) infinite normal;
}

/* Slider  */
div.container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(33, 33, 33, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}


@keyframes fade {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  68% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

div.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  animation: fade 9s ease-in-out infinite alternate
}

div.container img:nth-of-type(1) {
  animation-delay: 6s;
}

div.container img:nth-of-type(2) {
  animation-delay: 3s;
}

div.container img:nth-of-type(3) {
  animation-delay: 0s;
}