<!-- google font code -->
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

body{
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
}

#logo{
  width: 5rem;

}
.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0; 
display: flex;
}

.navBar li{
  float: left;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  
}







/* carousel */
/*
.carousel {
  display: flex;
  gap: 8px;
  padding: 16px;

  // remove this sizing to get normal again
  width: 300px;
  height: 300px;

  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.item {
  flex-shrink: 0;
  width: 80%;
  height: 90vh;

  background-color: #e22727;

  scroll-snap-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-family: san-serif;
  font-size: 64;
  font-weight: bold;
}

.list-wrapper {
  position: relative;
}

.button {
  position: absolute;
  top: 50%;

  width: 3rem;
  height: 3rem;

  transform: translateY(-50%);
}

.button--previous {
  left: 1.5rem;

  transform: rotate(180deg);
}

.button--next {
  right: 1.5rem;
}