@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');


/* pseudo element*/


*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: #8D99ae;
}

li, a, button {
  font-family: "Google+Sans+Code", sans-serif;
  text-decoration: none;
  text-decoration-color: #739772;
}
body {
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

#logo {
  width: 5rem;
 cursor: pointer;
}

.navBar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
  justify-content: end;
}

.navBar li {
  flex-shrink: 1;
  flex-grow: 0;
  display: inline-block

}





/* carousel */
/*
.carousel {
  display: flex;
  gap: 8px;
  padding: 16px;

  // remove this sizing to get normal again
  width: 300px;
  height: 300px;

  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.item {
  flex-shrink: 0;
  width: 80%;
  height: 90vh;

  background-color: #e22727;

  scroll-snap-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-family: san-serif;
  font-size: 64;
  font-weight: bold;
}

.list-wrapper {
  position: relative;
}

.button {
  position: absolute;
  top: 50%;

  width: 3rem;
  height: 3rem;

  transform: translateY(-50%);
}

.button--previous {
  left: 1.5rem;

  transform: rotate(180deg);
}

.button--next {
  right: 1.5rem;
}